<ul class="menu">
    <li class="logo">Logo</li>
    {% for link in linklists[section.settings.main_linklist].links %}

    {% if link.links == blank %}
    <li class="item">
        <a href="{{link.url}}">{{link.title}}</a>
    </li>
    {% endif %}

    {% endfor %}