<ul class="menu">
    <li class="logo"><a href="/">my<span style="font-weight:900;text-transform: uppercase;">logo</span></a></li>
    {% for link in linklists[section.settings.main_linklist].links %}

    {% if link.links == blank %}
    <li class="item">
        <a href="{{link.url}}">{{link.title}}</a>
    </li>
    {% endif %}

    {% endfor %}