<section class="section-collection">
    <div class="collection-filters">
        <button class="accordion">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 2</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

    </div>
    <div class="span-2">
        <h1>Right Block</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, assumenda.</p>
    </div>
</section>