<section class="section-collection">
    <div class="collection-filters">
        <button class="accordion">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 2</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

    </div>
    <div class="span-2 products-collection">
        {% for product in collection.products %}
        <div class="product">
            <img src="{{product.featured_image.src | img_url: '150x'}}}" alt="product">
            <h4>Product Title</h4>
            <p>{{product.price | money}}</p>
            {% if product.compare_at_price and product.compare_at_price != product.price %}
            <h4>SALE</h4>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>