<header>
    <nav>
        <div>
            <h2>Logo</h2>
        </div>
        {% include 'menu' %}
        <div>
            <ul>
                <!-- https://shopify.dev/docs/liquid/reference/objects/shop -->
                <li><a href="/cart">Cart</a></li>
                {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <li><a href="/account">Your Account</a></li>
                <li><a href="/account">Log Out</a></li>
                {% else %}
                <li><a href="/account/login">Login</a></li>
            </ul>
            {% endif %}
            {% endif %}
        </div>

    </nav>
</header>

{% schema %}
{
"name": "Main Menu",
"settings": [
{
"type": "link_list",
"id": "main_linklist",
"label": "Menu",
"default": "main-menu"
}
]
}
{% endschema %}