body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 1em;
  }
}

section {
  height: 20em;
  display: grid;
  align-content: center;
  align-items: center;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

footer {
  display: flex;
  justify-content: center;
}
