body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 1em;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumbs-wrapper {
  background-color: #e9ecef;
}

.breadcrumbs-wrapper h1 {
  margin: 0.5em;
}

.main-wrapper {
  min-height: 100vh;
  background: #fff;
  position: relative;
  z-index: 1;
}

.main,
.product-block {
  position: relative;
  text-align: center;
}

.main .main-img,
.main .product-img,
.product-block .main-img,
.product-block .product-img {
  width: 100%;
}

.main .overlay-text,
.product-block .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-left,
.product-block .product-overlay-text-left {
  position: absolute;
  top: 80%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-left a,
.product-block .product-overlay-text-left a {
  color: #000;
}

.main .product-overlay-text-right,
.product-block .product-overlay-text-right {
  position: absolute;
  top: 80%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-right a,
.product-block .product-overlay-text-right a {
  color: #000;
}

.main .product-overlay-text-left-bottom,
.product-block .product-overlay-text-left-bottom {
  position: absolute;
  top: 20%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-left-bottom a,
.product-block .product-overlay-text-left-bottom a {
  color: #000;
}

.main .product-overlay-text-right-bottom,
.product-block .product-overlay-text-right-bottom {
  position: absolute;
  top: 20%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-right-bottom a,
.product-block .product-overlay-text-right-bottom a {
  color: #000;
}

.trend-product {
  position: relative;
  text-align: center;
}

.trend-product .trend-product-img {
  width: 100%;
}

.trend-product .trend-product-overlay-text-one {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trend-product .trend-product-overlay-text-one a {
  color: #000;
}

.trend-product .trend-product-overlay-text-two {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trend-product .trend-product-overlay-text-two a {
  color: #000;
}

.trend-product .trend-product-overlay-text-three {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trend-product .trend-product-overlay-text-three a {
  color: #000;
}

.trend-product .trend-product-overlay-text-four {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trend-product .trend-product-overlay-text-four a {
  color: #000;
}

.trend-product .trend-product-overlay-text-five {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trend-product .trend-product-overlay-text-five a {
  color: #000;
}

.trend-product .trend-product-overlay-text-six {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trend-product .trend-product-overlay-text-six a {
  color: #000;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-collection {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-six {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(100px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2em;
}

/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796';
  /* Unicode character for "minus" sign (-) */
}

/* Footer */
footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3b3b3b;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px;
}

footer li {
  margin: 0 0.2em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links li {
  margin: 0.2em;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (min-width: 550px) {
  .span-2 {
    grid-column: auto / span 2;
  }
}
/*# sourceMappingURL=styles.css.map */
