body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 1em;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumbs-wrapper {
  background-color: #e9ecef;
}

.breadcrumbs-wrapper h1 {
  margin: 0.5em;
}

.main,
.product-block {
  position: relative;
  text-align: center;
}

.main .main-img,
.main .product-img,
.product-block .main-img,
.product-block .product-img {
  width: 100%;
}

.main .overlay-text,
.product-block .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-left,
.product-block .product-overlay-text-left {
  position: absolute;
  top: 80%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-left a,
.product-block .product-overlay-text-left a {
  color: #000;
}

.main .product-overlay-text-right,
.product-block .product-overlay-text-right {
  position: absolute;
  top: 80%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-right a,
.product-block .product-overlay-text-right a {
  color: #000;
}

.main .product-overlay-text-left-bottom,
.product-block .product-overlay-text-left-bottom {
  position: absolute;
  top: 20%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-left-bottom a,
.product-block .product-overlay-text-left-bottom a {
  color: #000;
}

.main .product-overlay-text-right-bottom,
.product-block .product-overlay-text-right-bottom {
  position: absolute;
  top: 20%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .product-overlay-text-right-bottom a,
.product-block .product-overlay-text-right-bottom a {
  color: #000;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*# sourceMappingURL=styles.css.map */
