{% include 'breadcrumbs', title: 'About' %}

<section class="about-page">
    <div class="img-block">
        <img src="{{settings.about_img | img_url: '1920x'}}" alt="About Image">
    </div>
    <div>
        {{page.content}}
    </div>
</section>