<div class="breadcrumbs">
    <div class="breadcrumbs-wrapper">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">> {{product.title}}</li>
            </ul>
        </nav>
    </div>
</div>

<section>
    <div class="img-block">
        <img src="https://picsum.photos/350/500?grayscale" alt="">
    </div>
    <div class="span-2">
        <h1>My Product Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum officia vitae impedit minima
            necessitatibus illo incidunt maxime pariatur esse totam blanditiis id dicta alias, facilis veritatis
            magnam quae consequuntur deleniti unde neque placeat sapiente culpa. Vel in officiis earum voluptatibus!
        </p>
        <ul>
            <li>Nice Fit</li>
            <li>Colourful</li>
            <li>All sizes</li>
            <li>Interchangeable</li>
            <li>Lean</li>
        </ul>
        <p>Price: $200</p>
        <div class="size-guide">
            <button class="accordion">Size Guide</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quae, eaque mollitia nostrum
                    beatae
                    esse odio corrupti accusamus nihil similique.</p>
            </div>
        </div>
    </div>
</section>